<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Course Form</title>
</head>
<body style="max-width: 1000px; margin: 0 auto">
	<h1>[[${pageTitle}]]</h1>
	<form th:action="@{/courses-page/saveAssign}" method="post" enctype="multipart/form-data" th:object="${course}">
	 	<input type="hidden" th:field="*{id}" />
        <div>Course name:
 			<input type="text" th:field="*{courseName}" minlength="2" maxlength="256" class="form-control" />	
        </div>
        <div>Course description:
 			<input type="text" th:field="*{courseDescription}" minlength="2" maxlength="256" class="form-control" />	
        </div>
        <div>Teacher for course: 
        	<label th:text="${course.teacher.teacherSurname}"></label>
        </div> 
        <div>Select teacher for course:
	        <select class="form-control" id="dropDownList" th:field="*{teacher}">
			    <option th:each="teacher : ${freeTeachers}" th:value="${teacher.id}" th:text="${teacher.teacherSurname}"></option>
			</select>
        </div>
        <div>Select groups for course:
	        <div th:each="group : ${allGroups}">
				<input type="checkbox" id="[[${group.groupName}]]" name="groups" th:value="${group.groupId}"
						th:checked="${course.groups.contains(group)}" />			
				<label th:for="${group.groupId}" th:text="${group.groupName}"></label>
	        </div>
        </div>
        <div>
        	<input type="submit" value="Save" class="btn btn-primary btn-sm mr-2" />
        </div>
	</form>
	<a th:href="@{/courses-page/}">Back to Courses</a>
</body>
</html>