<!DOCTYPE html>
<html lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Menu Page</title>
</head>
<body style="max-width: 1000px; margin: 0 auto">

	<h1 th:inline="text">
		<span sec:authorize="isAuthenticated()"> | Username: <span
			sec:authentication="name"></span> | Roles: <span
			sec:authentication="principal.authorities"></span> | <a
			th:href="@{/logout}">Sign Out</a>
		</span>
	</h1>
	<h2>University Menu</h2>
		<h4>
			<a th:href="@{/students/}">Students</a>
		</h4>
		<h4>
			<a th:href="@{/teachers/}">Teachers</a>
		</h4>
		<h4>
			<a th:href="@{/courses/}">Courses</a>
		</h4>
		<h4>
			<a th:href="@{/groups/}">Groups</a>
		</h4>
		<h4>
			<a th:href="@{/schedule/generalSchedule}">Schedule</a>
		</h4>
		<div style="text-align: center;" sec:authorize="hasRole('ROLE_ADMIN')">
  			<a th:href="@{/admin-panel}"> to Admin-panel</a>
		</div>
</body>
</html>